@import "./reset.css";
@import"./variables.css";

*{
    border: 1px solid red;
    font-family: "IBM Plex Sans";
}

body{
    display: grid;
    justify-items: center;
    align-items: center;
}

.app-grid {
    background-image: url("../assets/bg-main-mobile.png");
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-position: 0% -40%;
    display: grid;
    width: var(--mobile-app-width);
   

}

header{
    padding: 0% 0% 45% 5%;
}

.logo {
    padding:0px 0px 65px 0px;
}
.title {
    margin-bottom: 5%;
}

.title h1{
    font-size: var(--mobile-title-font-size);
    font-weight: var(--mobile-title-fw);
    font-style: var(--mobile-title-font-style);
    line-height: var(--mobile-title-line-height);
}

.title-content p{
    font-size: var(--mobile-content-font-size);
    font-weight: var(--mobile-content-fw);
    font-style: var(--mobile-content-font-style);
    line-height: var(--mobile-content-line-height);
}
.hero-image-wrapper {
    /* height: 600px;  */
    background-color: black;
    border-radius: 12px;
}

.image-wrapper {
  z-index: 10;
}

.main-content-wrapper {
    background-color: var(--orange);
    color: var(--white);
    border-radius: 12px;
    transform: translateY(-12%);
  padding: 10%;
}
.hero-image-wrapper {
    background-image: url("../assets/bg-pattern-2.svg");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
}

.background-image {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-25%);
}
.background-image img{
    width: 208.97px;
}

.main-content-title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 12px;
}

.main-content-text {
    font-style: var(--mobile-content-font-style);
    font-weight: var(--mobile-content-fw);
    font-size: var(--mobile-content-font-size);
    line-height: var(--mobile-content-line-height);
    padding-bottom: 32px;
}

.social-button{
    width: 333px;
}

.price {
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
}

#term {
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
letter-spacing: -0.2px;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apple-icon {
    color: white;
    align-items: center;
    background-color: black;
    border: transparent;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    font-size: 1.125rem;
    font-weight: 700;
    gap: 8px;
    height: 61px;
    justify-content: center;
    outline: none;
}

.apple-icon span, .android-icon span {
    /* font-style: italic; */
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.18px;
    
}
.android-icon {
    align-items: center;
    border: transparent;
    background-color: white;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    font-size: 1.125rem;
    font-weight: 700;
    gap: 8px;
    height: 61px;
    justify-content: center;
    outline: none;
    color: black;
}

.social-button {
    display: grid;
    align-items: center;
    width:333px;
    text-decoration: none;
    padding: 16px 0px 16px 0px;
}

.apple-icon a, .android-icon a{
text-decoration: none;
}

.social-media{
    display: flex;
    padding: 32px 0px;
}
footer{
    padding-left: 22px;
}
.footer-content p {
    font-style: var(--mobile-content-font-style);
    font-weight: var(--mobile-content-fw);
    font-size: var(--mobile-content-font-size);
    line-height: var(--mobile-content-line-height);
    padding: 32px 0px 32px 0px;
}