/* Colors From the Style Guide */
html{
--teal: #66E2DC;
--orange: #FA7453;
--mustard: #FFB964;
--white: #FCFAF9;
--black: #191826;
}

/* Typogoraphy */
html{
--mobile-title-font-size: 40px;
--mobile-title-fw:700;
--mobile-title-font-style: bold;
--mobile-title-line-height: 52px;
}